<app-code-box
  [title]="'文件下载测试'"
  [content]="'后端生成二进制文件流'"
>
  <div nz-row>
    <div nz-col nzSpan="6">
      <button nz-button nzType="primary" nzShape="round" [nzLoading]="exportLoading1" (click)="fileDownLoad1()">
        <i nz-icon nzType="download"></i>下载：使用file-saver库
      </button>
    </div>
    <div nz-col nzSpan="6">
      <button nz-button nzType="primary" nzShape="round" [nzLoading]="exportLoading2" (click)="fileDownLoad2()">
        <i nz-icon nzType="download"></i>下载：使用window.open
      </button>
    </div>
    <div nz-col nzSpan="6">
      <button nz-button nzType="primary" nzShape="round" [nzLoading]="exportLoading3" (click)="fileDownLoad3()">
        <i nz-icon nzType="download"></i>下载：使用“a”元素
      </button>
    </div>
  </div>
</app-code-box>
<app-code-box
  [title]="'文件下载测试'"
  [content]="'前端生成二进制文件流'"
>
  <div nz-row>
    <div nz-col nzSpan="6">
      <button nz-button nzType="primary" nzShape="round" (click)="fileDownLoad4()">
        <i nz-icon nzType="download"></i>下载：使用ng-alain的xlsService
      </button>
    </div>
  </div>
</app-code-box>

<!--<nz-tree-->
  <!--[nzData]="nodes"-->
  <!--nzCheckable-->
  <!--nzMultiple-->
  <!--(nzClick)="nzEvent($event)"-->
  <!--[nzCheckedKeys]="defaultCheckedKeys"-->
  <!--(nzExpandChange)="nzEvent($event)"-->
  <!--(nzCheckBoxChange)="nzEvent($event)"-->
<!--&gt;-->
<!--</nz-tree>-->

<!--<nz-tree-->
  <!--[nzData]="nodes1"-->
  <!--nzCheckable-->
  <!--nzMultiple-->
  <!--(nzClick)="nzEvent($event)"-->
  <!--(nzExpandChange)="nzEvent($event)"-->
  <!--(nzCheckBoxChange)="nzEvent($event)"-->
<!--&gt;-->
<!--</nz-tree>-->

