:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: #eee;*/
  border: 1px solid #ddd;
}

.button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

gridster {
  background: #ebeaef;
}
